body {
	background-color: #f2f2f2;/*#80ccff;*/
	font-family: /*Arial, "Time New Roman",*/ sans-serif;
	font-size:100%;
	width: 900px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-decoration:underline;
}
/*Header Bar Design*/
ul.header_bar {
	position:fixed;
	top:0;
	width:900px;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: gray;/*#333;*/
}

li.header_bar {
    	float: left;
	border-right: 1px solid #bbb;
}

li.header_bar a {
    	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
}

li.header_bar a:hover {
    	background-color: #111;
}

li:last-child{
	border-right:none;
}


/*Centro Part*/
div#centro{
	background: white;
	padding-right:100px;
	padding-left: 100px;
	padding-bottom: 20px;
	padding-top: 30px;
	border: 5px dashed #f2f2f2;
}
.LI-profile-badge{
	float: right;
	padding: 5px;
}
img.icon{
	float: right;
	margin: 5px;
}

img#lastimg{
	display:block;
	clear: both;
	margin: auto;
}


a:link{
	color: blue; 
	text-decoration:none;
	font-style:italic;
} 
a:active:{
	color: red; 
} 
a:visited{
	color:purple;
	text-decoration:none;
}
a:hover{
	color: red; 
	text-decoration:underline;
}


h1{
	border-bottom-style: solid;
	border-width: 1px;
}
p#header_bar{
	background-color:black;
	color: #ccc;
	width: 1100;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;
	
}
p, ul {
	font-size: 120%;
}
p.intro{
	text-indent: 60px;
}
p#footage{
	width: 900px;
	font-size:60%;
	color:gray;
	text-align:center;
}
ul.second{
	font-size: 90%;
}
h1{
	font-size: 250%;
}
h3{
	background-color: #f53;
	color: white;
}
